* {
  margin: 0;
  padding: 0;
  outline-color: black;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
  display: flex;
  flex-direction: column;
}
header .top {
  height: 4rem;
  box-shadow: 0 3px 10px #C5C5C5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
header .top img {
  position: absolute;
  top: 1.4rem;
  height: 1.8rem;
}
header .map {
  height: 3rem;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .map i {
  color: #353535;
}
header .map input {
  border: none;
  background-color: #eaeaea;
  width: 7.5rem;
  height: 2rem;
  margin-left: 1rem;
  padding-left: 0.2rem;
  font-weight: bolder;
}
header .map input::placeholder {
  color: #353535;
  font-size: 1rem;
}
header nav {
  background-color: #F6F6F6;
}
header nav h2 {
  padding: 2rem 15% 1rem 15%;
  text-align: center;
}
header nav p {
  padding: 0rem 0.5rem 1.5rem 0.5rem;
  text-align: center;
  color: #4d4d4d;
  font-size: 1.1rem;
}
header nav .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  height: 3rem;
  width: 210px;
  border-radius: 2rem;
  color: #fff;
  font-size: 0.95rem;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 3px 10px #C5C5C5;
  transition: 0.5s;
  margin-bottom: 3rem;
}
header nav .btn a:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 10px #726a6a;
}

.fonctionnement h2 {
  padding: 3rem 0 2rem 1rem;
}
.fonctionnement ul {
  display: flex;
  align-items: center;
  height: 4.5rem;
  border-radius: 1rem;
  background-color: #F6F6F6;
  box-shadow: 0 3px 10px #C5C5C5;
  margin: 0rem 1rem 1.5rem 2rem;
  cursor: pointer;
}
.fonctionnement ul:last-child {
  margin-bottom: 4rem;
}
.fonctionnement ul:hover {
  background-color: #f5edff;
}
.fonctionnement ul:hover i {
  color: #9356dc;
}
.fonctionnement ul li {
  display: flex;
  flex-direction: row;
}
.fonctionnement ul li .fonctionnement__number {
  color: #fff;
  background-color: #9356dc;
  font-size: 0.8rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-10px);
}
.fonctionnement ul li i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem 0 1rem;
  width: 1rem;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #7e7e7e;
}
.fonctionnement ul li .fonctionnement__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

#restaurants {
  background-color: #F6F6F6;
  padding: 0 1rem 3rem 1rem;
}
#restaurants h2 {
  padding: 3rem 0rem 1.5rem 1rem;
}
#restaurants img {
  width: 100%;
  height: 11rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
#restaurants a {
  color: #000;
  display: flex;
  flex-direction: column;
}
#restaurants .content {
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 10px #C5C5C5;
}
#restaurants .content__text {
  margin: 0.8rem 1rem;
  line-height: 1.5rem;
}
#restaurants i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.5rem;
}
#restaurants i a {
  pointer-events: none;
}
#restaurants i:active {
  color: blue;
}
#restaurants .card--new {
  position: relative;
}
#restaurants .card--new::before {
  content: "Nouveau";
  font-family: "Roboto";
  font-weight: 500;
  color: #278870;
  background-color: #99E2D0;
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 0.8rem;
  padding: 0.4rem 0.65rem 0.3rem 0.65rem;
  border-radius: 2px;
}

footer {
  background-color: #353535;
  padding-left: 1rem;
  color: #fff;
}
footer img {
  filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(176deg) brightness(107%) contrast(100%);
  height: 1rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
}
footer a {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 100;
  color: #fff;
}
footer i {
  padding-right: 0.7rem;
}
footer li {
  font-family: "Roboto";
  line-height: 1.7rem;
}
footer li:last-child {
  padding-bottom: 2rem;
}

/*# sourceMappingURL=style.css.map */
