footer {
  position:relative;
  background-color: $darkgray;
  padding: 0 1rem;
  padding-bottom: 2rem;
  color: #fff;

  @media #{$tablette} {
    height:7rem
  }

  h4 {
    color: #fff;
    font-family: 'Shrikhand';
    font-weight: 100;
    font-size: 1.2rem;
    padding:1.5rem 0 1rem 0;

    @media #{$tablette} {
      @include flex-center;
      font-size:2rem;
      padding: 0.25rem 0 1.5rem 0;
    }
  }

  ul {

    @media #{$tablette} {
      display: flex;
      justify-content: space-around;
    }

    a {
      font-family: "Roboto";
      font-size: 1rem;
      font-weight: 400;
      color: #fff;
    }
  
    i {
      padding-right: 0.7rem;
    }
  
    li {
      font-family: "Roboto";
      line-height: 1.7rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
