@mixin footer {
    background-color: $secondarycolor;
    padding-left: 1rem;
    color: #fff;
  
    img {
      filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(176deg)
        brightness(107%) contrast(100%);
      height: 1rem;
      padding-top: 2rem;
      margin-bottom: 1rem;
    }
  
    a {
      font-family: "Roboto";
      font-size: 1rem;
      font-weight: 0;
      color: #fff;
    }
  
    i {
      padding-right: 0.7rem;
    }
  
    li {
      font-family: "Roboto";
      line-height: 1.7rem;
  
      &:last-child{
        padding-bottom: 2rem;
      } 
    }
 }