.heart {
    width: 25px;
    height: 25px;
    background: url(../../images/animation/heartoff.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 0%;
    transition: 0.5s;
    cursor: pointer;
    margin-right: 1rem;

    &:hover {
      background-size: 95%;
    }

    svg {
      width: 25px;
      height: 25px;
    }
  }