header {
  .top {
    a {
      position: absolute;
      top: 1.4rem;
      left: 1rem;
      color: $darkgray;
      font-size: 1.2rem;
    }
  }

  img {
    width: 100%;
    height: 15rem;
    object-fit: cover;

    @media #{$tablette} {
      height: 24rem;
    }
  }

  .food_palette {
    object-position: 50% 0%;

    @media #{$tablette} {
      object-position: 50% 10%;
    }

    @media #{$desktop} {
      object-position: 50% 60%;
    }
  }

  .food_note {
    object-position: 50% 74%;

    @media #{$tablette} {
      object-position: 50% 65%;
    }

    @media #{$desktop} {
      object-position: 50% 60%;
    }
  }

  .food_francaise {
    object-position: 50% 100%;

    @media #{$desktop} {
      object-position: 50% 65%;
    }
  }

  .food_delice {
    object-position: 50% 100%;
    @media #{$desktop} {
      object-position: 50% 70%;
    }
  }
}

.title {
  margin-top: -50px;
  position: relative;
  background-color: $lightgray;
  border-radius: 2.5rem 2.5rem 0 0;
  padding: 2rem 0 1.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media #{$tablette} {
    justify-content: center;
  }

  h1 {
    font-family: "Shrikhand";
    font-size: 1.8rem;
    font-weight: 400;

    @media #{$tablette} {
      padding-right: 2rem;
    }

    @media #{$xs} {
      font-size: 1.6rem;
    }
  }
}

.menu {
  background-color: $lightgray;
  padding: 0 1rem;
  padding-bottom: 4rem;

  @media #{$desktop} {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4rem;
  }
  &__type {
    h2 {
      display: flex;
      font-size: 1rem;
      padding-bottom: 0.25rem;
      width: 2.5rem;
      border-bottom: 3px solid $mintgreen;
      font-weight: 300;
    }
  }

  &__bloc {
    background-color: #fff;
    border-radius: 15px;
    margin-top: 0.9rem;
    padding: 0.75rem 0 0.75rem 0.75rem;
    box-shadow: $shadow;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
    position: relative;

    &:last-child {
      margin-bottom: 2rem;
    }

    h3 {
      font-size: 1.2rem;
      font-weight: 700;
      padding-bottom: 0.25rem;
      width: 100%;
      transition: 0.3s;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      @media #{$xs} {
        font-size: 1rem;
      }
    }
  }
  .menu__sous_bloc {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 1rem;

    p:nth-child(1) {
      width: 92%;
      transition: 0.3s;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    p:nth-child(2) {
      font-weight: 700;
      padding-right: 1rem;
      transition: 0.3s;
    }
  }

  .btn {
    margin-top: 3rem;
    width: 180px;
    left: calc(50% - 90px);
  }
}

h6 {
  display: none;
}

