header {
  .top {
    a {
      position: absolute;
      top: 1.4rem;
      left: 1rem;
      color: $secondarycolor;
      font-size: 1.2rem;
    }
  }

  .entete {
    img {
      width: 100%;
      object-fit: cover;
      object-position: 50% 64%;

      @media #{$tablette} {
        height: 24rem;
      }
    }
  }
}

.title {
  margin-top: -50px;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 2rem 0 1.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  h1 {
    font-family: "Shrikhand";
    font-size: 1.8rem;
    font-weight: 400;
  }
}

.menu {
  background-color: $primarycolor;
  padding: 0 1rem;
  padding-bottom: 4rem;

  @media #{$desktop} {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4rem;
  }

  &__type {
    h2 {
      display: flex;
      font-size: 1rem;
      padding-bottom: 0.25rem;
      width: 2.5rem;
      border-bottom: 3px solid #99e2d0;
      font-weight: 300;
    }
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    position: relative;
    transition: 0.3s;
    width: 0;

    i {
      position: absolute;
      transform: rotate(90deg);
      font-size: 2.8rem;
      color: whitesmoke;
      transition: 0.4s;
      animation-delay: 0.5s;
    }
  }

  &__bloc {
    background-color: #fff;
    border-radius: 15px;
    margin-top: 0.9rem;
    padding: 1rem;
    box-shadow: $shadow;
    cursor: pointer;

    &:last-child {
      margin-bottom: 2rem;
    }

    h4 {
      font-size: 1.1rem;
      font-weight: 700;
      padding-bottom: 0.25rem;
    }

    @media #{$desktop} {
      display: grid;
      grid-template-columns: 1fr 1r 1fr;
    }
  }

  &__sous_bloc {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 0.9rem;

    p:last-child {
      font-weight: 700;
      font-size: 1rem;
    }
  }

  .btn {
    margin-top: 3rem;
    width: 180px;
    left: calc(50% - 90px);
  }
}
