@mixin general {
  margin: 0;
  padding: 0;
  outline-color: black;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto";
  -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  @include flex-center;
  font-family: "Roboto";
  height: 3rem;
  width: 210px;
  border-radius: 2rem;
  color: #fff;
  font-size: 0.95rem;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: $shadow;
  transition: 0.5s;
}

@mixin btn-hover {
  opacity: 0.8;
  box-shadow: 0px 0px 10px #726a6a;
}
